{% extends 'secure/dashboard.twig' %}
{% block title %} Ingrediente - Receita{% endblock %}

{% block outlet %}
<div class="align-items-center m-auto vw-100 vh-100">
    <div class="text-black">
        <!-- Header -->
        <header class="p-3">
            <div class="row p-2">
                <div class="col-1">
                    <a href="javascript:history.go(-1)" class="goBack">
                        <i class="bi bi-arrow-down-circle"></i>
                    </a>
                </div>
                <div class="col-10 d-flex justify-content-center">
                    <h1>{{ title }}</h1>
                </div>
            </div>
            <div class="line"></div>
        </header>
    </div>

    <main class="overflow-auto scrollDashboardSpace">
        <div class="mx-3 px-2 py-2">
            <form action="/src/services/recipe/recipe.php" method="post">
                <div class="col my-4">
                    {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in errors %}
                        {{ error }}<br>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
                <div class="model-section col">
                    <div class="text-field">
                        <input oninput="filterIngredientsPage(event)" placeholder=" Pesquisar" type="text">
                        <span>
                            <button>
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- Results -->
                <div class="my-4">
                    {% if not ingredients|length %}
                    <h4 class="d-flex justify-content-center my-5">Não existe nenhum ingrediente!</h4>
                    {% endif %}
                    <div class="queryById">
                        {% for ingredient in ingredients %}
                        <div class="row mx-2">
                            <div class="form-check py-2 col-5">
                                <label>
                                    {{ ingredient.getName }}
                                </label>
                            </div>
                            <div class="col-4">
                                <!-- Quantity -->
                                <input onchange="AddIngredient('{{ingredient.getId}}', this.value, '{{ingredient.getUnit.getId}}')" id="quantity" type="number" class="form-control" placeholder="Quantidade" value="" />
                            </div>
                            <!-- Type of Measurement -->
                            <div class="col-3">
                                <label class="py-2">
                                    {{ ingredient.getUnit.getUnit }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <input type="hidden" id="ingredients" value="" name="ingredients">
                <input type="hidden" name="recipe_id" value="{{ recipe.getId }}">
                <input type="hidden" name="pathError" value="/admin/users/userprofile/recipe/createingredient?id=">
                <input type="hidden" name="path" value="/admin/users/userprofile/recipe?id=">
                <div class="row d-flex justify-content-center mt-5">
                    <button onsubmit="clearIngredients();" type="submit" name="ingredient" value="{{action}}" class="btn blue">Confirmar</button>
                </div>
            </form>
        </div>
    </main>
</div>
<script src="{{ loadJs('recipe.js') }}"></script>
<script src="{{ loadJs('search-ingredients.js') }}"></script>

{% endblock %}