{% extends 'base.twig' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<script src="{{ loadJs('side-menu.js') }}"></script>
<script src="{{ loadJs('side-menu-utils.js') }}"></script>
<div class="vh-100 vw-100 d-flex flex-row overflow-hidden">
    <aside id="side-menu" class="side-menu shadow-sm compact min-vh-100 d-flex flex-column flex-shrink-0 px-4 py-3">
        <div class="d-flex justify-content-end mb-3">
            <button id="hamburger" class="hamburger" type="button">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <div class="d-flex justify-content-center align-items-center py-3 rounded badge">
            <img src="{{ loadAsset('icon.svg') }}" alt="Os Mestres da Culinária" class="img-fluid">
            <img src="{{ loadAsset('hat.svg') }}" alt="Os Mestres da Culinária" class="img-fluid">
        </div>
        <hr class="align-self-center my-5">
        {% if administrator is not defined %}
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/app" class="nav-link">
                    <i class="bi me-2 bi-house-door-fill"></i>
                    <span>Início</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/app/myrecipes" class="nav-link">
                    <i class="bi me-2 bi-book"></i>
                    <span>Minhas Receitas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/app/profile?id={{profile}}" class="nav-link">
                    <i class="bi me-2 bi-person-fill"></i>
                    <span>Perfil</span>
                </a>
            </li>
        </ul>
        {% else %}
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="bi me-2 bi-house-door-fill"></i>
                    <span>Início</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/users" class="nav-link">
                    <i class="bi me-2 bi-person-fill"></i>
                    <span>Utilizadores</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/recipes" class="nav-link">
                    <i class="bi me-2 bi-egg-fill"></i>
                    <span>Receitas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/variables" class="nav-link">
                    <i class="bi me-2 bi-gear-fill"></i>
                    <span>Outras Variáveis</span>
                </a>
            </li>
        </ul>
        {% endif %}
        <div class="side-footer nav nav-pills flex-column">
            <li>
                <form action="/src/services/auth/signin.php" method="post">
                    <button onclick="removeActiveNavItem();" class="nav-link exit" type="submit" name="user" value="logout">
                        <i class="bi me-2 bi-door-open"></i>
                        <span>Terminar Sessão</span>
                    </button>
                </form>
            </li>
        </div>
    </aside>
    {% block outlet %}{% endblock %}
</div>
{% endblock %}