{% extends 'base.twig' %}
{% block title %} Os Mestres da Culinária {% endblock %}

{% block content %}
<nav class="d-flex w-100 position-fixed justify-content-between navbar navbar-expand-lg px-4">
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="{{ loadAsset('icon.svg') }}" alt="" />
    </a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-1">
            <li class="nav-item">
                <a class="nav-link active" href="#home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#objetives">Objetivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Funcionalidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-us">Sobre nós</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
            <li class="d-flex gap-3 justify-content-between">
                <button class="btn green btn-block" type="submit" data-bs-toggle="modal" data-bs-target="#register">
                    Registar
                </button>
                <button class="btn blue btn-block" type="submit" data-bs-toggle="modal" data-bs-target="#login">
                    Iniciar Sessão
                </button>
            </li>
        </ul>
    </div>
</nav>

<section id="home" class="home container">
    <div class="row d-flex justify-content-center align-items-md-end p-4">
        <div class="col-md-5"></div>
        <div class="row col-12 col-md-7 d-flex justify-content-center align-items-center">
            <img src="{{ loadAsset('landpage-icon.svg') }}" alt="" class="home-image" />
            <h2 class="text-light text-center text-multiline">
                O seu site de gestão de receitas e de inspiração!
            </h2>
        </div>
        <div class="row d-flex justify-content-center align-items-end pb-4">
            <a href="#objetives" class="goDown">
                <i class="bi bi-arrow-down-circle"></i>
            </a>
        </div>
    </div>
</section>

<section id="objetives" class="objetives container">
    <div class="row d-flex justify-content-center align-items-end">
        <div class="row">
            <h2 class="text-light text-center">
                <p>
                    Um site que permite criar as suas próprias receitas, procurar e
                    seguir os passos para obter um prato delicioso!
                </p>
                <p>
                    O nosso objetivo é facilitar o acesso e fornecer uma sequência de
                    passos para refazer os seus pratos favoritos.
                </p>
            </h2>
        </div>
        <div class="row d-flex justify-content-center align-items-end pb-4">
            <a href="#features" class="goDown">
                <i class="bi bi-arrow-down-circle"></i>
            </a>
        </div>
    </div>
</section>

<section id="features" class="container">
    <div class="row d-flex justify-content-center align-items-end">
        <div class="row">
            <div class="col-md-6 col-12 d-flex flex-column justify-content-center gap-2">
                <div class="card-feature d-flex align-items-center justify-content-center">
                    <div class="row g-0">
                        <div class="col-3">
                            <img src="{{ loadAsset('create_recipe.svg') }}" class="img-fluid rounded-start" alt="" />
                        </div>
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <div class="card-body">
                                <h5 class="card-title">Criar Receitas</h5>
                                <p class="card-text">
                                    Crie as suas próprias receitas, com os seu próprios
                                    ingredientes e passos
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-feature d-flex align-items-center justify-content-center">
                    <div class="row g-0">
                        <div class="col-3">
                            <img src="{{ loadAsset('see_recipe.svg') }}" class="img-fluid rounded-start" alt="" />
                        </div>
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <div class="card-body">
                                <h5 class="card-title">Visualizar Receitas</h5>
                                <p class="card-text">
                                    Volte a fazer as suas receitas ou experimente novas
                                    receitas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-feature d-flex align-items-center justify-content-center">
                    <div class="row g-0">
                        <div class="col-3">
                            <img src="{{ loadAsset('share_recipe.svg') }}" class="img-fluid rounded-start" alt="" />
                        </div>
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <div class="card-body">
                                <h5 class="card-title">Partilhar Receitas</h5>
                                <p class="card-text">
                                    Partilhe as suas receitas favoritas com os seus amigos
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex d-none justify-content-center align-items-center d-md-flex">
                <img src="{{ loadAsset('image_features.svg') }}" class="scaled-image img-fluid" alt="" />
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-end pb-4">
            <a href="#about-us" class="goDown alternative">
                <i class="bi bi-arrow-down-circle"></i>
            </a>
        </div>
    </div>
</section>

<section id="about-us" class="about-us container">
    <div class="row">
        <div class="d-flex flex-column justify-content-end">
            <div id="carouselExampleIndicators" class="carousel slide d-md-none" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-12 col-md-4 card person-card text-center position-relative">
                                <img src="{{ loadAsset('cooking_hat.svg') }}" alt="" class="cooking-hat" />
                                <div class="col d-flex justify-content-center">
                                    <img src="{{ loadAsset('diogo.png') }}" class="person-image" alt="" />
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title text-center text-truncate">
                                        Diogo Assunção
                                    </h2>
                                </div>
                                <div>
                                    <a href="https://www.facebook.com/diogo.assuncao.1011" target="_blank"><i class="icon bi bi-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/diogo-assunc%C3%A3o-0a1ab921b/" target="_blank"><i class="icon bi bi-linkedin"></i></a>
                                    <a href="https://github.com/DiogoCC7" target="_blank"><i class="icon bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-12 col-md-4 card person-card text-center position-relative">
                                <img src="{{ loadAsset('wooden_spoon.svg') }}" alt="" class="wooden-spoon" />
                                <div class="col d-flex justify-content-center">
                                    <img src="{{ loadAsset('david.png') }}" class="person-image" alt="" />
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title text-center">David Sousa Braga</h2>
                                </div>
                                <div>
                                    <a href="https://www.facebook.com/david.braga.902266/" target="_blank"><i class="icon bi bi-facebook"></i></a>
                                    <a href="https://www.linkedin.com/in/david-braga-9093252a0/" target="_blank"><i class="icon bi bi-linkedin"></i></a>
                                    <a href="https://github.com/David-Ogrande" target="_blank"><i class="icon bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="col-md-12 d-none d-md-flex flex-grow-1">
                <div class="col-12 team d-flex justify-content-center align-items-end pb-4">
                    <div class="col-12 col-md-4 card person-card text-center position-relative d-none d-sm-block">
                        <img src="{{ loadAsset('cooking_hat.svg') }}" alt="" class="cooking-hat" />
                        <div class="col d-flex justify-content-center">
                            <img src="{{ loadAsset('diogo.png') }}" class="person-image" alt="" />
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center">Diogo Machado Assunção</h2>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/diogo.assuncao.1011" target="_blank"><i class="icon bi bi-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/diogo-assunc%C3%A3o-0a1ab921b/" target="_blank"><i class="icon bi bi-linkedin"></i></a>
                            <a href="https://github.com/DiogoCC7" target="_blank"><i class="icon bi bi-github"></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 card person-card text-center position-relative d-none d-sm-block">
                        <img src="{{ loadAsset('wooden_spoon.svg') }}" alt="" class="wooden-spoon" />
                        <div class="col d-flex justify-content-center">
                            <img src="{{ loadAsset('david.png') }}" class="person-image" alt="" />
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center">David Sousa Braga</h2>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/david.braga.902266/" target="_blank"><i class="icon bi bi-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/david-braga-9093252a0/" target="_blank"><i class="icon bi bi-linkedin"></i></a>
                            <a href="https://github.com/David-Ogrande" target="_blank"><i class="icon bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-auto d-flex flex-row justify-content-center align-items-start">
            <div class="card">
                <div class="card-body text-center p-4">
                    <h4>
                        Somos alunos do Curso de Engenharia Informática do IPVC ESTG
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register Modal -->
<div class="modal" id="register" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/src/services/auth/signup.php" method="post">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h2 class="modal-title">Registar Conta</h2>
                </div>
                <div class="modal-body d-flex gap-3 flex-column">
                    {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in errors %}
                        {{ error }}<br>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="model-section col">
                        <div class="row my-2">
                            <div class="col">
                                <!-- First Name -->
                                <input id="first_name" type="text" class="form-control" name="first_name" value="{{ app.request.get('first_name') is defined ? app.request.get('first_name') : '' }}" placeholder="Nome Próprio" minlength="2" maxlength="25" required />
                            </div>
                            <div class="col">
                                <!-- Last Name -->
                                <input id="last_name" type="text" class="form-control" name="last_name" value="{{ app.request.get('last_name') is defined ? app.request.get('last_name') : '' }}" placeholder="Apelido" minlength="2" maxlength="25" required />
                            </div>
                        </div>
                        <div class="col my-2">
                            <!-- E-mail -->
                            <input id="newemail" type="email" class="form-control" name="email" placeholder="E-mail" required />
                        </div>
                        <div class="col my-2">
                            <!-- Password -->
                            <input type="password" class="form-control" name="password" minlength="6" placeholder="Palavra-chave" required />
                        </div>
                    </div>
                    <div class="model-section col">
                        <!-- Birth Date -->
                        <label for="birthDate">Data de Nascimento</label>
                        <div class="row">
                            <!-- Day -->
                            <select id="day" class="col mx-2 form-select" aria-label="Dia" name="day" required>
                            </select>
                            <!-- Month -->
                            <select id="month" class="col mx-2 form-select" aria-label="Mês" name="month" required>
                            </select>
                            <!-- Year -->
                            <select id="year" class="col mx-2 form-select" aria-label="Ano" name="year" required>
                            </select>
                        </div>
                    </div>
                    <div class="model-section col">
                        <!-- Gender -->
                        <label>Género</label>
                        <div class="col mx-2">
                            {% for gender in genders %}
                            <div class="col form-check">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="{{ gender.getId }}" />
                                <label class="form-check-label" for="gender">{{ gender.getName }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer row d-flex justify-content-center mt-5">
                    <button type="button" class="btn green" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button class="btn blue" type="submit" name="user" value="registerNewUser">Registar
                        Conta</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Login Modal -->
<div class="modal" id="login" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/src/services/auth/signin.php" method="post">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h2 class="modal-title">Iniciar Sessão</h2>
                </div>
                <div class="modal-body">
                    {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in errors %}
                        {{ error }}<br>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="col my-2">
                        <!-- E-mail -->
                        <input type="email" class="form-control" placeholder="E-mail" name="email" id="email" required />
                    </div>
                    <div class="col my-2">
                        <!-- Password -->
                        <input type="password" class="form-control" placeholder="Palavra-chave" name="password" id="password" minlength="6" required />
                    </div>
                    <div class="row mx-2">
                        <!-- Forgot Password -->
                        <a href="#" class="col forgot-password-link">Esqueceu-se da password?</a>
                        <!-- Remember Me -->
                        <div class="col form-check">
                            <input class="form-check-input" type="checkbox" value="" id="remember" />
                            <label class="form-check-label" for="remember">
                                Lembrar-se de mim
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row d-flex justify-content-center mt-5">
                    <button type="button" class="btn green" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button class="btn blue" type="submit" name="user" value="login">Iniciar Sessão</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}